<header>
  <nav class="navbar">
    <a href="/" class="navbar-logo">Mappi</i></a>
    <div class="navbar-menu">
      <a href="/" class="navbar-options">Create Mappi</a>
      <a href="/users/<%= user.id %>" class="navbar-options">Dashboard</a>
    </div>
  </nav>
</header>
