<header>
  <nav class="navbar">
    <a href="/" class="navbar-logo">Mappi</i></a>
    <div class="navbar-menu">
      <a href="#" class="navbar-options">Create a Map</a>
      <a href="#" class="navbar-options">Logout</a>
    </div>
  </nav>
</header>
