<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Varela+Round&display=swap" rel="stylesheet">

</head>

<body>
  <%- include('partials/_header', {user: user}); %>
  <div class="welcome-container">
    <h1>Welcome to Mappi</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem necessitatibus quae a, neque itaque labore. </p>
    <div class="homepage-buttons">
        <a href="/maps/" class="create-mappi-button">Create Mappi</a>
        <a href="#view-mappi" class="view-mappi-button">View Mappi</a>
    </div>
  </div>
  <section id="view-mappi">
    <h2>Mappi</h2>
    <div id="mappi-list" class="mappi-list">
      <% for (let map in mapData) { %>
        <a href="/maps/<%= mapData[map].id %>"><div><%= mapData[map].title %></div></a>
         <% } %>
    </div>
  </section>
</body>

</html>
