<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Varela+Round&display=swap" rel="stylesheet">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->

</head>

<body>
  <%- include('partials/_header') %>
  <div class="create-map-container">
    <div id="map"></div>
    <form action="#" class="create-new-map">
      <h2>Create Mappi</h2>
      <div class="new-map-title">
        <label for="new-map-title">Map Title</label><br>
        <input type="text" id="new-map-title" name="new-map-title" required>
      </div>

      <div class="new-map-description">
        <label for="new-map-description">Map Description</label><br>
        <textarea id="new-map-descprition" name="new-map-description" required></textarea>
      </div>

      <div class="new-map-category">
        <label>Map Category</label><br>
        <select id = "new-map-category">
          <option></option>
          <option value = "cat-restaurant">Restaurants</option>
          <option value = "cat-cafe">Cafes</option>
          <option value = "cat-bar">Bars</option>
          <option value = "cat-parks">Parks</option>
        </select>
      </div>

      <input class="new-map-submit" type="submit" value="Create">
    </form>
  </div>

  <script>
    function initMap() {
      // The location of Uluru
      const uluru = { lat: -25.344, lng: 131.036 };
      // The map, centered at Uluru
      const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 4,
        center: uluru,
      });
      // The marker, positioned at Uluru
      const marker = new google.maps.Marker({
        position: uluru,
        map: map,
      });
    }
  </script>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= API_KEY %>&callback=initMap"
    type="text/javascript"></script>

</body>

</html>
