<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dashboard</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Varela+Round&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <%- include('partials/_header') %>
    <div class="profile">
      <div class="user-profile-box">
        <img
          src= "<%=user.image%>"
          class="user-profile-picture"
          alt="user-profile-picture"
        />
        <h2 class="user-name"><%=user.name%></h2>
      </div>
      <div class="user-maps">
        <section class="user-favourite-maps">
          <h2>Favourited Mappi</h2>
          <ul class="favourite-maps">
            <li>favourite-maps</li>
          </ul>
        </section>
        <section class="user-my-maps">
          <h2>My Mappi</h2>
          <ul class="my-maps">
            <% for (let title in titles) { %>
            <li><%= titles[title].title %></li>
            <% } %>
          </ul>
        </section>
        <section class="user-contributed-maps">
          <h2>Contributed Mappi</h2>
          <ul class="contributed-maps">
            <li>contributed map 1</li>
          </ul>
        </section>
      </div>
    </div>
  </body>
</html>
