// See: https://sass-lang.com/

// Colors
$white: #FFF;
$navblue: #88c7ec;
$formblue: #cee3f2;
$grey: #848C91;
$black: #000;

* {
  margin: 0;
}

// Nav bar
.navbar {
  background-color: $navblue;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  height: 8vh;

  &-logo {
    font-family: Varela Round, sans-serif;
    font-size: 2rem;
    color: $white;
    text-decoration: none;
  }

  &-menu {
    width: 210px;
    display: flex;
    justify-content: space-between;
  }

  &-options {
    font-family: Varela Round, sans-serif;
    text-decoration: none;
    color: $white;
    border: solid 1px $white;
    border-radius: 5px;
    padding: 7px;
    }
}

// Create mappi
.create-map-container {
  height: 92vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

div#map {
  display: flex;
  flex-direction: column;
  margin: 30px;
  height: 80vh;
  width: 65%;
  border-radius: 12px;
  background-color: $black;
}

form.create-new-map {
  height: 40vh;
  width: 30%;
  margin: 30px 30px 30px 0;
  padding: 10px;
  border-radius: 12px;
  font-family: Varela Round, sans-serif;
  box-shadow: 0, 0, 1rem, rgb(0, 0, 0 /15%);
  background-color: $formblue;
  color: $grey;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

input.new-map-submit {
  height: 35px;
  width: 120px;
  padding: 5px;
  background-color: $white;
  border: 1px solid $grey;
  border-radius: 5px;
  font-family: Varela Round, sans-serif;
  font-size: 1rem;
  color: $grey;
  align-self: flex-end;
}

// User profile box
.profile {
  display: flex;
  flex-direction: row;
  margin: 30px;
}

.user-profile-box {
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

img.user-profile-picture {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.user-name {
  font-family: Varela Round, sans-serif;
  font-size: 1.75rem;
  color: $grey;
}

// Map dashboard
.user-maps {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
  font-family: Varela Round, sans-serif;
  padding: 0 30px;

  h2 {
    text-align: center;
    padding-bottom: 20px;
    color: $grey;
    font-family: Varela Round, sans-serif;
    font-size: 1.75rem;
  }
}

// Favourite maps, my maps, contributed maps
%grid-display {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1rem;
}

%box-display {
  background: $white;
  border: dashed 2px $navblue;
  border-radius: 5px;
  height: 80px;
  width: 120px;
}

.user-favourite-maps, .user-my-maps, .user-contributed-maps {
  margin: 20px 0;
}

.favourite-maps-grid, .my-maps-grid, .contributed-maps-grid {
  @extend %grid-display;
}

.box {
  @extend %box-display;
}
