// See: https://sass-lang.com/

// Colors
$white: #FFF;
$navblue: #88c7ec;
$formblue: #cee3f2;
$grey: #848C91;
$black: #000;

* {
  margin: 0;
}

// Nav bar
.navbar {
  background-color: $navblue;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  height: 60px;

  &-logo {
    font-family: Varela Round, sans-serif;
    font-size: 2rem;
    color: $white;
    text-decoration: none;
  }

  &-options {
    font-family: Varela Round, sans-serif;
    text-decoration: none;
    color: $white;
    border: solid 1px $white;
    border-radius: 5px;
    padding: 8px;
    margin-left: 10px;
    }
}

// Create mappi

%textbox-format {
  width: 100%;
  font-family: Varela Round, sans-serif;
  font-size: 1rem;
  padding: 5px;
  margin-top: 5px;
}

.create-map-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

form.create-new-map {
  height: 450px;
  width: 30%;
  margin: 40px;
  padding: 25px;
  border-radius: 12px;
  font-family: Varela Round, sans-serif;
  box-shadow: 0, 0, 1rem, rgb(0, 0, 0 /15%);
  background-color: $formblue;
  color: $grey;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#new-map-title {
  @extend %textbox-format;
  height: 2rem;
}

#new-map-description {
  @extend %textbox-format;
  height: 4rem;
  word-wrap: break-word;
}

#new-map-category {
  @extend %textbox-format;
}

input.new-map-submit {
  height: 35px;
  width: 100px;
  padding: 5px;
  background-color: $white;
  border: 1px solid $grey;
  border-radius: 5px;
  font-family: Varela Round, sans-serif;
  font-size: 1rem;
  color: $grey;
  align-self: center;
}

// View mappi
.map-container {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

div#map {
  display: flex;
  flex-direction: column;
  margin: 30px;
  height: 80vh;
  width: 65%;
  border-radius: 12px;
  background-color: $black;
}

// Infowindow

.infowindow {

  height: 200px;
  width: 160px;
  word-wrap: break-word;

  h1 {
    font-family: Varela Round, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 7px;
  }

  p {
    font-family: Varela Round, sans-serif;
    font-size: 0.7rem;
    margin-bottom: 7px;
  }

  img {
    width: 90px;
    height: 90px;
    margin-bottom: 7px;
  }

  button {
    font-family: Varela Round, sans-serif;
    font-size: 0.8rem;
    background-color: $white;
    border: 1px solid $grey;
    border-radius: 5px;
    color: $grey;
    height: 1.5rem;
    margin-right: 5px;
  }
}

// Map info and option to edit mappi
.map-info-side {
  height: 70vh;
  width: 30%;
  margin: 30px 30px 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// Displays mappi info
form.map-info {
  height: 200px;
  background-color: $formblue;
  color: $grey;
  font-family: Varela Round, sans-serif;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  margin-bottom: 30px;
}

// Displays edit mappi form
form.update-pin {
  height: 375px;
  background-color: $formblue;
  color: $grey;
  font-family: Varela Round, sans-serif;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  display: none;
}

%update-buttons {
  height: 35px;
  width: 120px;
  padding: 5px;
  background-color: $white;
  border: 1px solid $grey;
  border-radius: 5px;
  font-family: Varela Round, sans-serif;
  font-size: 1rem;
  color: $grey;
  align-self: flex-end;
}

input.save-map {
  @extend %update-buttons;
}

input.update-pin-submit {
  @extend %update-buttons;
}

// User profile box
.profile {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.user-profile-box {
  height: 275px;
  width: 275px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}

img.user-profile-picture {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.user-name {
  font-family: Varela Round, sans-serif;
  font-size: 1.6rem;
  color: $grey;
}

// Map dashboard
.user-maps {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 80%;
  font-family: Varela Round, sans-serif;
  padding: 0 30px;
  margin-top: 30px;

  h2 {
    text-align: center;
    margin-bottom: 40px;
    color: $grey;
    font-family: Varela Round, sans-serif;
    font-size: 1.6rem;
  }
}

// Favourite maps, my maps, contributed maps

.user-favourite-maps, .user-my-maps, .user-contributed-maps {
  margin: 20px 0;
}

.my-maps {

  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    text-decoration: none;
    color: $grey;
  }

  div {
    height: 2.5rem;
    width: 225px;
    word-wrap: break-word;
    border: dashed 2px $navblue;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;

  }
}

